<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="container">
                    <form action="/admin/add-product" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input class="form-control" type="hidden" name="productId">">

                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" name="title" id="title"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="imgUrl" class="form-label">Image URL</label>
                            <input type="text" class="form-control" name="imgUrl" id="imgUrl">
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" name="price" id="price">
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>