<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <form class="product-form" action="/admin/edit-product" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="_id">
                    <div class="form-control">
                        <label for="title">Title</label>
                        <input id="title" type="text" name="title">
                    </div>
                    <div class="form-control">
                        <label for="title">Image URL</label>
                        <input id="imgUrl" type="text" name="imgUrl">
                    </div>
                    <div class="form-control">
                        <label for="price">Price</label>
                        <input id="price" type="number" name="price">
                    </div>
                    <div class="form-control">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" rows="5"></textarea>
                    </div>
                    <button type="submit">Add Product</button>
                </form>
            </main>
            <%- include('../includes/end.ejs') %>