<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <body>
                <main>
                    <p style="text-align: center;">Page is Not Found</p>
                </main>
                <%- include('includes/end.ejs') %>