<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>

            <body>
                <main>
                    <p style="text-align: center;">Page is Not Found</p>
                    <p style="text-align: center;">We are working on fixing this, sorry for the include
                    inconvenience</p>
                </main>
                <%- include('includes/end.ejs') %>