body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #dbc441;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__nav {
    padding: 0;
    margin: 0;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a:active {
    color: blue;
}