<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <main>
            <div class="container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Order Name</th>
                            <th>Product Qty</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tr>
                        <% order.item.forEach(element=> { %>
                            <td>
                                <b>
                                    <%= element.title %>
                                </b>
                            </td>
                            <td>
                                <%= element.quantity %>
                            </td>
                            <td>
                                <a href="#">Delete</a>|
                            </td>
                            <%})%>

                    </tr>
                </table>
            </div>

        </main>
        <%- include('../includes/end.ejs') %>